.closeButtonClass {
    height: 10px;
    width: 10px;
}
.fadeOut {
    animation: fade .3s ease forwards;
}

@keyframes fade {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        display: none;
    }
}